doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title #{title}
    body
        ul
            li
                a(href='/home') Home

            li
                a(href='/flota') Flota

            li
                a(href='/admin') Administration
            li
                a(href='/reserve') Reserve


        ul
            li
                a(href='/edit') Edit Reservation
            li
                a(href='/displayMyReservations') Display My Reservation
            li
                a(href='/cancelReservation') Cancel Reservation


        div
            table#reservations
                thead
                    tr
                        th ID Rezerwacji
                        th ID użytkownika
                        th ID Samochodu
                        th Data zarezerwowania auta
                        th Data oddania auta
                        th Całkowity koszt
                        th Zatwierdzona
                        th Miejsce odbioru
                        th Miejsce zwrotu
                tbody
                    each item in reservation
                        tr
                            td #{item.id}
                            td #{item.userId}
                            td #{item.carId}
                            td #{item.bookInDate}
                            td #{item.bookOutDate}
                            td #{item.totalPrice}
                            td #{item.isApprovedByAdmin}
                            td #{item.bookInPlace}
                            td #{item.bookOutPlace}
