doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Home
    body
        ul
            li
                a(href='/') Fleet
            if logged === 1
                li
                    a(href='/admin') Administration
            else
                li
                    a(href='/user') My account
            li
                a(href='/reserve') Reserve
            if logged
                li
                    a(href='/logout') Logout
            else
                li
                    a(href='/login') Login
                li
                    a(href='register') Register

    tbody
        h1 Fleet
        div
            each item in cars
                p #{item.car_name}
                img(src=item.img_link, alt=item.car_name)
                p Type: #{item.car_type}
                p Price class: #{item.cost_class}
                p Price per day: #{item.price_per_day}
                p Air conditioning: #{item.air_conditioning}
                p Seats: #{item.number_of_seats}
                p Engine: #{item.engine_type}
                p Transmission:#{item.transmission}
                p Bluetooth: #{item.bluetooth}