doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Search Result
    body
        ul
            li
                a(href='/home') Home

            li
                a(href='/flota') Flota

            li
                a(href='/admin') Administration
            li
                a(href='/reserve') Reserve
            li
                a(href='/search') Search

        div
            h1 #{data[0].car_name}
            img(src=data[0].image_link, alt=data[0].car_name)
            p Typ: #{data[0].car_type}
            p Klasa cenowa: #{data[0].cost_class}
            p Cena za dzień: #{data[0].price_per_day}
            p Klimatyzacja: #{data[0].air_conditioning}
            p Ilość Siedzień: #{data[0].number_of_seats}
            p Silnik: #{data[0].engine_type}
            p Skrzynia biegów: #{data[0].transmission}
            p Bluetooth: #{data[0].bluetooth}
            p Przewidywany koszt wynajmu samochodu na #{number_of_days} dni to: #{total_price}